<?xml version="1.0"?>
<config>
    <modules>
        <Affirm_AffirmPromo>
            <version>2.0.15</version>
        </Affirm_AffirmPromo>
    </modules>
    <global>
        <helpers>
            <affirmpromo>
                <class>Affirm_AffirmPromo_Helper</class>
            </affirmpromo>
        </helpers>
        <blocks>
            <affirmpromo>
                <class>Affirm_AffirmPromo_Block</class>
            </affirmpromo>
        </blocks>
        <models>
            <affirmpromo>
                <class>Affirm_AffirmPromo_Model</class>
            </affirmpromo>
        </models>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <affirm_affirmpromo>
                        <class>affirmpromo/observer</class>
                        <method>layoutGenerateBlocksBefore</method>
                    </affirm_affirmpromo>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
    </global>
    <default>
        <affirmpromo>
            <settings>
                <active>0</active>
                <promo_key>W6WU7UK82RS34HDH</promo_key>
            </settings>
            <developer_settings>
                <container_homepage><![CDATA[<div style="width: 100%; text-align: center; padding-bottom: 7px ">{container}</div>]]></container_homepage>
                <container_catalog_category><![CDATA[<div style="width: 100%; text-align: center; padding-bottom: 7px ">{container}</div>]]></container_catalog_category>
                <container_catalog_product><![CDATA[<div style="width: 100%; text-align: center; padding-bottom: 7px ">{container}</div>]]></container_catalog_product>
                <container_checkout_cart><![CDATA[<div style="width: 100%; text-align: center; padding-bottom: 7px ">{container}</div>]]></container_checkout_cart>
                <path_homepage>cms.index.index</path_homepage>
                <path_catalog_category>catalog.category.view</path_catalog_category>
                <path_catalog_product>catalog.product.view</path_catalog_product>
                <path_checkout_cart>checkout.cart.index</path_checkout_cart>
            </developer_settings>

            <homepage>
                <display>1</display>
                <size>196x193</size>
                <position>right-top</position>
            </homepage>

            <catalog_category>
                <display>1</display>
                <size>196x193</size>
                <position>left-top</position>
            </catalog_category>

            <catalog_product>
                <display>1</display>
                <size>468x60</size>
                <position>right-top</position>
            </catalog_product>

            <checkout_cart>
                <display>1</display>
                <size>468x60</size>
                <position>center-top</position>
            </checkout_cart>

        </affirmpromo>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Affirm_AffirmPromo before="Mage_Adminhtml">Affirm_AffirmPromo</Affirm_AffirmPromo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <affirmpromo translate="title" module="affirmpromo">
                                            <title>Affirm Promo Settings</title>
                                        </affirmpromo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
