<?xml version="1.0"?>
<config>
    <sections>
        <affirmpromo translate="label" module="affirmpromo">
            <label>Affirm Promos</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>9999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>

                    <fields>
                        <promo_key translate="label">
                            <label>Affirm Promo Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </promo_key>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                    </fields>
                </settings>
                <homepage>
                    <label>Home Page Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <display translate="label">
                            <label>Display</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </display>
                        <size translate="label">
                            <label>Promo Size</label>
                            <frontend_type>select</frontend_type>
                            <source_model>affirmpromo/system_config_size</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </size>
                        <position translate="label">
                            <label>Promo Position</label>
                            <frontend_type>select</frontend_type>
                            <source_model>affirmpromo/system_config_position</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </position>
                    </fields>
                </homepage>
                <catalog_category>
                    <label>Catalog Category Page Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <display translate="label">
                            <label>Display</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </display>
                        <size translate="label">
                            <label>Promo Size</label>
                            <frontend_type>select</frontend_type>
                            <source_model>affirmpromo/system_config_size</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </size>
                        <position translate="label">
                            <label>Promo Position</label>
                            <frontend_type>select</frontend_type>
                            <source_model>affirmpromo/system_config_position</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </position>
                    </fields>
                </catalog_category>
                <catalog_product>
                    <label>Catalog Product Page Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <display translate="label">
                            <label>Display</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </display>
                        <size translate="label">
                            <label>Promo Size</label>
                            <frontend_type>select</frontend_type>
                            <source_model>affirmpromo/system_config_size</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </size>
                        <position translate="label">
                            <label>Promo Position</label>
                            <frontend_type>select</frontend_type>
                            <source_model>affirmpromo/system_config_position</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </position>
                    </fields>
                </catalog_product>
                <checkout_cart>
                    <label>Checkout Cart Page Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <display translate="label">
                            <label>Display</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </display>
                        <size translate="label">
                            <label>Promo Size</label>
                            <frontend_type>select</frontend_type>
                            <source_model>affirmpromo/system_config_size</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </size>
                        <position translate="label">
                            <label>Promo Position</label>
                            <frontend_type>select</frontend_type>
                            <source_model>affirmpromo/system_config_position</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </position>
                    </fields>
                </checkout_cart>
                <developer_settings translate="label">
                    <label>Developer Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>0</expanded>
                    <fields>
                        <container_homepage translate="label,comment">
                            <label>Homepage Container</label>
                            <comment><![CDATA[Place html code with "{container}"-tag inside, which will be replaced with your promo block]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </container_homepage>
                        <container_catalog_category translate="label,comment">
                            <label>Catalog Category Container</label>
                            <comment><![CDATA[Place html code with "{container}"-tag inside, which will be replaced with your promo block]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </container_catalog_category>
                        <container_catalog_product translate="label,comment">
                            <label>Catalog Product Container</label>
                            <comment><![CDATA[Place html code with "{container}"-tag inside, which will be replaced with your promo block]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </container_catalog_product>
                        <container_checkout_cart translate="label,comment">
                            <label>Checkout Cart Container</label>
                            <comment><![CDATA[Place html code with "{container}"-tag inside, which will be replaced with your promo block]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>41</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </container_checkout_cart>
                        <path_homepage translate="label">
                            <label>Home Page Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </path_homepage>
                        <path_catalog_category translate="label">
                            <label>Catalog Category Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </path_catalog_category>
                        <path_catalog_product translate="label">
                            <label>Catalog Product Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </path_catalog_product>
                        <path_checkout_cart translate="label">
                            <label>Checkout Cart Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </path_checkout_cart>
                    </fields>
                </developer_settings>
            </groups>
        </affirmpromo>
    </sections>
</config>
