<?xml version="1.0"?>
<config>
    <modules>
        <Affirm_Affirm>
            <version>2.0.15</version>
        </Affirm_Affirm>
    </modules>
    <global>
        <models>
            <affirm>
                <class>Affirm_Affirm_Model</class>
            </affirm>
        </models>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <affirm_affirm_model_pre_order_observer>
                        <type>singleton</type>
                        <class>Affirm_Affirm_Model_Order_Observer</class>
                        <method>pre_order</method>
                    </affirm_affirm_model_pre_order_observer>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <affirm_affirm_model_order_observer>
                        <type>singleton</type>
                        <class>Affirm_Affirm_Model_Order_Observer</class>
                        <method>reactivate_quote</method>
                    </affirm_affirm_model_order_observer>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        <blocks>
            <affirm>
                <class>Affirm_Affirm_Block</class>
            </affirm>
        </blocks>
        <helpers>
            <affirm>
                <class>Affirm_Affirm_Helper</class>
            </affirm>
        </helpers>
    </global>
    <frontend>
        <routers>
            <affirm>
                <use>standard</use>
                <args>
                    <module>Affirm_Affirm</module>
                    <frontName>affirm</frontName>
                </args>
            </affirm>
        </routers>
    </frontend>
    <default>
        <payment>
            <affirm>
                <active>0</active>
                <pre_order>1</pre_order>
                <model>affirm/payment</model>
                <!-- WARNING: default value for title removed to prevent it from appearing on checkout page on MCE 1.4.0.1 -->
                <!-- TODO(brian): fix rendering of payment method block so that adding a title here doesn't break presentation there -->
                <title>Affirm: Buy Now with Easy Monthly Payments</title>
                <payment_action>authorize</payment_action>
                <api_url>https://sandbox.affirm.com</api_url>
                <api_key />
                <secret_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <line_items_enabled>1</line_items_enabled>
                <visible_on_cart>1</visible_on_cart>
                <visible_on_product>1</visible_on_product>
                <currency>USD</currency>
                <min_order_total>0.01</min_order_total>
                <max_order_total>100000</max_order_total>
                <plain_text_title_enabled>0</plain_text_title_enabled>
            </affirm>
        </payment>
    </default>
</config>
