{
    "settings" : {
        "payment/affirm/active": "1",
            "payment/affirm/api_key": "REPLACEME",
            "payment/affirm/api_url": "https://sandbox.affirm.com/",
            "payment/affirm/currency": "USD",
            "payment/affirm/max_order_total": "10000",
            "payment/affirm/min_order_total": "0.01",
            "payment/affirm/payment_action": "authorize",
            "payment/affirm/secret_key": "REPLACEME"
    },
    "secret_key_field_name": "payment/affirm/secret_key"
}
